.result-block {
  flex-grow: 1;
  padding: 32px 53px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  border-radius: var(--radius-md);
  cursor: pointer;

  &--active {
    background-color: var(--color-green);
    color: var(--color-white);
  }

  &__percent {
    padding: 9px 38px 6px;
    background-color: rgba(84, 211, 194, 0.15);
    color: var(--color-green);
    border-radius: var(--radius-md);
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 4px;

    &--active {
      color: var(--color-white);
      background-color: rgba(248, 248, 248, 0.25);
    }

    &--negative {
      color: var(--color-red);
      background-color: rgba(252, 92, 101, 0.15);
    }
  }

  &__arrow-active {
    color: var(--color-white);
  }

  &__arrow-negative {
    transform: rotate(180deg);
  }

  &__amount {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.57;
    letter-spacing: -0.56px;
  }

  &__name {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.56px;
  }
}
