:root {
  --color-white: #fff;
  --color-black: #323f47;
  --color-gray: #989fa3;
  --color-gray-light: #d2d1d1;
  --color-gray-bg: #f8f8f8;
  --color-green: #54d3c2;
  --color-red: #fc5c65;
  --radius-lg: 56px;
  --radius-md: 32px;
  --radius-sm: 24px;
}
